{% extends 'app/main/base.html' %}
{% load static %}

{% block title %} WebEnter. {% endblock title %}


{% block content %}



    <!-- Start Banner
    ============================================= -->
    {% include 'app/main/banner.html' %}
    <!-- End Banner -->

    <!-- Start Services
    ============================================= -->
    {% include 'app/main/services.html' %}
    <!-- End Services -->

    <!-- Start About
    ============================================= -->
    {% include 'app/main/about.html' %}
    <!-- End About -->

    <!-- Start Brand Area
    ============================================= -->
    {% include 'app/main/brand.html' %}
    <!-- End Bradn Area -->

    <!-- Start Clients Area
    ============================================= -->
    {% include 'app/main/clients.html' %}
    <!-- End Clients Area -->

    <!-- Start Team Members
    ============================================= -->
    {% include 'app/main/team.html' %}
    <!-- End Team Members -->

    <!-- Start Prjoect
    ============================================= -->
    {% include 'app/main/projects.html' %}
    <!-- End Project -->

    <!-- Start Pricing
    ============================================= -->
    {% include 'app/main/pricing.html' %}
    <!-- End Pricing -->

    <!-- Start Blog
    ============================================= -->
    {% include 'app/main/latestblog.html' %}
    <!-- End Blog -->




{% endblock content %}
