{% load static %}
<div class="clietns-area default-padding-bottom bg-dark-secondary text-light">
        <div class="container">
            <div class="client-items">
                <div class="row align-center">
                    <div class="col-lg-5">
                        <h5>Join over 40,000 businesses worldwide.</h5>
                        <h2 class="title">Working great with top platforms</h2>
                        <a class="btn mt-25 btn-gradient btn-sm" href="contact-us.html">Join with Us</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="client-item-box">
                            <div class="partner-box">
                                <div class="item">
                                    <img src="{% static 'assets/img/icon/atlassian.png' %}" alt="Image Not Found">
                                </div>
                                <div class="item">
                                    <img src="{% static 'assets/img/icon/figma.png' %}" alt="Image Not Found">
                                </div>
                                <div class="item">
                                    <img src="{% static 'assets/img/icon/react.png' %}" alt="Image Not Found">
                                </div>
                                <div class="item">
                                    <img src="{% static 'assets/img/icon/wordpress.png' %}" alt="Image Not Found">
                                </div>
                            </div>
                            <div class="partner-box">
                                <div class="item">
                                    <i class="fab fa-digital-ocean"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-reddit"></i>
                                </div>
                                <div class="item">
                                    <i class="fab fa-dropbox"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>