{% load static %}
<div class="blog-area home-blog blog-style-two-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">News & Events</h4>
                        <h2 class="title">Latest blog posts </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Single Item -->
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="home-blog-two">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="{% static 'assets/img/blog/4.jpg' %}" alt="Image Not Found"></a>
                            <div class="date">14 <strong>Sep</strong></div>
                        </div>
                        <div class="info">
                            <div class="content">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="#">Md Sohag</a>
                                        </li>
                                        <li>
                                            <a href="#">18 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="post-title"><a href="blog-single-with-sidebar.html">Miscovery incommode earnestly commanded if.</a></h3>
                                <a href="blog-single-with-sidebar.html" class="button-regular">
                                    Continue Reading <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="home-blog-two">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="{% static 'assets/img/blog/5.jpg' %}" alt="Image Not Found"></a>
                            <div class="date">06 <strong>Oct</strong></div>
                        </div>
                        <div class="info">
                            <div class="content">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="#">Md Sohag</a>
                                        </li>
                                        <li>
                                            <a href="#">26 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="post-title"><a href="blog-single-with-sidebar.html">Expression acceptance imprudence particular</a></h3>
                                <a href="blog-single-with-sidebar.html" class="button-regular">
                                    Continue Reading <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>