{% load static %}
<div class="pricing-style-one-area default-padding-bottom bg-gray">
        <div class="shape-left-top">
            <img src="{% static 'assets/img/shape/11.png' %}" alt="Image Not Found">
        </div>
        <div class="container">
            <div class="pricing-items">
                <div class="row align-center">
                    <div class="col-xl-5 col-lg-4">
                        <h4 class="sub-title">Best Pricing</h4>
                        <h2 class="title">Affordable pricing. <br> - checkout Now</h2>
                        <p>
                            Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new ham melancholy son themselves.
                        </p>
                        <h5>Join today and get <strong>50%</strong> Off</h5>
                    </div>
                    <div class="col-xl-6 offset-xl-1 col-lg-7 offset-lg-1">
                        <div class="pricing-style-one">
                            <div class="left">
                                <h4>Rank High on Google</h4>
                                <span>15 Days Free Trial</span>
                                <a class="btn mt-25 btn-sm circle btn-border light" href="contact-us.html">Order Now</a>
                            </div>
                            <div class="right">
                                <ul>
                                    <li>Number of inbound linksr</li>
                                    <li>Site speed</li>
                                    <li>Keyword usage</li>
                                </ul>
                                <h2><sup>$</sup>48</h2>
                            </div>
                        </div>
                        <div class="pricing-style-one active">
                            <div class="left">
                                <h4>Email-based Advertising</h4>
                                <span>7 Days Free Trial</span>
                                <a class="btn mt-25 btn-sm circle btn-border light" href="contact-us.html">Order Now</a>
                            </div>
                            <div class="right">
                                <ul>
                                    <li>Email Newsletter</li>
                                    <li>Marketing Campaigns</li>
                                    <li>Traffic Generation</li>
                                </ul>
                                <h2><sup>$</sup>24</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>