{% load static %}
<div class="project-style-one-area default-padding bg-gray">

        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content-left">
                            <h4 class="sub-title">Popular Projects</h4>
                            <h2 class="title">Featured Works</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fill">
            <div class="row">
                <div class="col-lg-12">
                    <div class="project-style-one-items">

                        <!-- Navigation -->
                        <div class="project-nav">
                            <div class="nav-items">
                                <div class="project-button-prev"></div>
                                <div class="project-button-next"></div>
                            </div>
                        </div>

                        <div class="project-center-stage-carousel swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <div class="project-style-one">
                                        <img src="{% static 'assets/img/portfolio/7.jpg' %}" alt="Thumb">
                                        <div class="overlay">
                                            <div class="link">
                                                <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                            </div>
                                            <div class="content">
                                                <span>Marketing</span>
                                                <h4><a href="project-details.html">Digital Marketing</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <div class="project-style-one">
                                        <img src="{% static 'assets/img/portfolio/8.jpg' %}" alt="Thumb">
                                        <div class="overlay">
                                            <div class="link">
                                                <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                            </div>
                                            <div class="content">
                                                <span>Promotion</span>
                                                <h4><a href="project-details.html">Data Scientist</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <div class="project-style-one">
                                        <img src="{% static 'assets/img/portfolio/9.jpg' %}" alt="Thumb">
                                        <div class="overlay">
                                            <div class="link">
                                                <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                            </div>
                                            <div class="content">
                                                <span>Development</span>
                                                <h4><a href="project-details.html">Benefits Research</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <div class="project-style-one">
                                        <img src="{% static 'assets/img/portfolio/11.jpg' %}" alt="Thumb">
                                        <div class="overlay">
                                            <div class="link">
                                                <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                            </div>
                                            <div class="content">
                                                <span>Research</span>
                                                <h4><a href="project-details.html">Content Optimization</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <div class="project-style-one">
                                        <img src="{% static 'assets/img/portfolio/13.jpg' %}" alt="Thumb">
                                        <div class="overlay">
                                            <div class="link">
                                                <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                            </div>
                                            <div class="content">
                                                <span>Marketing</span>
                                                <h4><a href="project-details.html">Digital Marketing</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <div class="project-style-one">
                                        <img src="{% static 'assets/img/portfolio/12.jpg' %}" alt="Thumb">
                                        <div class="overlay">
                                            <div class="link">
                                                <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                            </div>
                                            <div class="content">
                                                <span>Digital</span>
                                                <h4><a href="project-details.html">Development Agency</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>