{% load static %}
<div class="services-style-three-area bg-dark-secondary text-light overflow-hidden default-padding">

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="site-heading">
                        <h4 class="sub-title">Services We Offer</h4>
                        <h2 class="title">Turn Information <br> Into Actionable Insights</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="service-hover-items">

                        <ul>
                            <li>
                                <a href="services-details.html" class="service-hover-item">
                                    <div class="service-hover-content">
                                        <div class="icon">
                                            <i class="fas fa-vector-square"></i>
                                        </div>
                                        <div class="item-title">
                                            <h2>User Experience Design</h2>
                                           <span>01</span>
                                        </div>
                                        <div class="details">
                                            <p>
                                                Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new.
                                            </p>
                                            <ul>
                                                <li>Visual design focuses</li>
                                                <li>Interaction design</li>
                                            </ul>
                                        </div>
                                        <div class="arrow">
                                            <strong class="btn-animation"><i class="fas fa-arrow-right"></i> <span>View More</span></strong>
                                        </div>
                                    </div>
                                    <div class="service-hover-wrapper">
                                        <img class="service-hover-placeholder" src="{% static 'assets/img/portfolio/15.jpg' %}" alt="Image Not Found">
                                    </div>
                                </a>

                            </li>
                            <li>
                                <a href="services-details.html" class="service-hover-item">
                                    <div class="service-hover-content">
                                        <div class="icon">
                                            <i class="fas fa-layer-group"></i>
                                        </div>
                                        <div class="item-title">
                                            <h2>User Interface Design</h2>
                                            <span>02</span>
                                        </div>
                                        <div class="details">
                                            <p>
                                                Presentation indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new.
                                            </p>
                                            <ul>
                                                <li>Search box startup</li>
                                                <li>Great Color scheme</li>
                                            </ul>
                                        </div>
                                        <div class="arrow">
                                            <strong class="btn-animation"><i class="fas fa-arrow-right"></i> <span>View More</span></strong>
                                        </div>
                                    </div>
                                    <div class="service-hover-wrapper">
                                        <img class="service-hover-placeholder" src="{% static 'assets/img/portfolio/16.jpg' %}" alt="Image Not Found">
                                    </div>
                                </a>

                            </li>
                            <li>
                                <a href="services-details.html" class="service-hover-item">
                                    <div class="service-hover-content">
                                        <div class="icon">
                                            <i class="fas fa-bullseye-pointer"></i>
                                        </div>
                                        <div class="item-title">
                                            <h2>Branding & Stationery</h2>
                                            <span>03</span>
                                        </div>
                                        <div class="details">
                                            <p>
                                                Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new.
                                            </p>
                                            <ul>
                                                <li>Logo scktch design</li>
                                                <li>Color palette</li>
                                            </ul>
                                        </div>
                                        <div class="arrow">
                                            <strong class="btn-animation"><i class="fas fa-arrow-right"></i> <span>View More</span></strong>
                                        </div>
                                    </div>
                                    <div class="service-hover-wrapper">
                                        <img class="service-hover-placeholder" src="{% static 'assets/img/portfolio/17.jpg' %}" alt="Image Not Found">
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>