{% load static %}
<div class="team-style-one-area bg-cover default-padding bottom-less" style="background-image: url({% static 'assets/img/shape/10.png' %});">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">Team Members</h4>
                        <h2 class="title">Meet our experts</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                 <!-- Single Item -->
                 <div class="col-xl-3 col-md-6 mb-30 wow fadeInUp">
                    <div class="team-style-one">
                        <div class="thumb">
                            <img src="{% static 'assets/img/team/13.jpg' %}" alt="Image Not Found">
                            <ul class="social">
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <a href="#"><i class="fas fa-comment-alt-lines"></i></a>
                            <div class="info">
                                <h4><a href="team-details.html">James Baker</a></h4>
                                <span>Marketing Expert</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="team-style-one">
                        <div class="thumb">
                            <img src="{% static 'assets/img/team/14.jpg' %}" alt="Image Not Found">
                            <ul class="social">
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <a href="#"><i class="fas fa-comment-alt-lines"></i></a>
                            <div class="info">
                                <h4><a href="team-details.html">Dalton Grant</a></h4>
                                <span>Project Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="team-style-one">
                        <div class="thumb">
                            <img src="{% static 'assets/img/team/15.jpg' %}" alt="Image Not Found">
                            <ul class="social">
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <a href="#"><i class="fas fa-comment-alt-lines"></i></a>
                            <div class="info">
                                <h4><a href="team-details.html">Ryan Ricketts</a></h4>
                                <span>Consulting Officer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-xl-3 col-md-6 mb-30 wow fadeInLeft" data-wow-delay="700ms">
                    <div class="team-style-one">
                        <div class="thumb">
                            <img src="{% static 'assets/img/team/16.jpg' %}" alt="Image Not Found">
                            <ul class="social">
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <a href="#"><i class="fas fa-comment-alt-lines"></i></a>
                            <div class="info">
                                <h4><a href="team-details.html">Danny Russell</a></h4>
                                <span>Creative Director</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>